.buttonWrapper {
  display: flex;
  flex: 0 0 10%;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-md) 0;
}

.buttonWrapper>*:nth-child(1) {
  background: var(--gradient-secondary-linear);
}

.buttonsRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--space-md);
}